<footer>
  <div id="bio">
    <div id="bio-image">
      <img src="/static/mugshot.jpg" alt="Cyber">
    </div>
    
    <div id="bio-text">
      <p>Hi. I'm Fana<b></b>.</p>
      <p>I am Passionate about cybersecurity, continuous learning, and empowering others through mentorship.</p>
      
      <div id="bio-social">
        {% include social.html %}
      </div>
    </div>
  </div>

  {% unless page.skip_related %}
  <aside>
    <h3>Further reading</h3>
    <ul class="posts">
      {% if page.tags %}
        {% assign sn = page.tags | join: "" %}
        {% for post in site.tags[sn] limit:3 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      {% else %}
        {% for post in site.related_posts limit:3 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </aside>
  {% endunless %}
</footer>

{% include fine-print.html %}