<header class="navigation">
  <a href="/" class="logo" title="The Audit Alley">
    <img src="/static/moose.png" alt="The Audit Alley">
  </a>
  <nav>
    <ul>
      <li><a href="/">writing</a></li>
      <li><a href="/archive">archive</a></li>
      <li><a href="/about">about</a></li>
      <li class="no-bullet"><a href="/atom.xml">rss</a></li>
    </ul>
  </nav>
</header>