<strike>Stalk</strike> Follow me:
<div id="social-links">
  <a title="Fana on Github" href="http://github.com/sprunjer/"><i class="fa fa-github-square"></i></a>

  <a title="RSS feed" id="rss" href="/atom.xml"><i class="fa fa-rss-square"></i></a>
</div>