<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fana - {{ page.title }}</title>
  <meta name="author" content="Fana" />
  <meta name="description" content="Passionate about cybersecurity, continuous learning, and empowering others through mentorship." />
  
  <link rel="canonical" href="http://mdswanson.com{{ page.url | replace:'index.html','' }}" />

  <link href="//fonts.googleapis.com/css?family=Nunito:400,700,300|Varela+Round" rel="stylesheet" type="text/css">

  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="The Audit Alley" href="{{site.url}}/atom.xml" />

  {% if site.github %}
    <link rel="stylesheet" href="/css/site.css?sha={{ site.github.build_revision }}">
  {% else %}
    <link rel="stylesheet" href="/css/site.css">
  {% endif %}
</head>
<body>
  <section>
    {{ content }}
  </section>

  {% if site.github %}
    {% include analytics.html %}
  {% endif %}
</body>
</html>
